.title {
    font-family:
            Greycliff CF,
            sans-serif;
    font-weight: 900;
    max-width: 100%;
    word-break: break-word;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: rem(18px);
    margin-top: var(--mantine-spacing-xs);
}